.headerText {

  color: #F5A9BC; 
  font-size: 2.5em; 
  margin: 0% 2%; 
  text-transform: uppercase;
  font-weight: bold; 
}

.pigTile {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2%;
  padding: 1%;
  outline: #3B0B0B dotted thick;
  transition: 0.75s;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 250px;
}

.ui.card {
  margin: 20 auto;
  border-radius: 10px;
  overflow: hidden;
}

.ui.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.ui.grid.container {
  margin: 20px auto;
}

.ui.column {
  padding: 10px;
}

.pigTile:hover {
  transform: scale(2.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.TwirlyPig:hover img {
  transform: scale(2); 
  transition: transform 0.3s ease;
}

.navWrapper {
  text-align: center; 
  margin-bottom: 20px; 
}

.App-logo {
  width: 100px; 
  height: auto; 
}